@import 'pattern-library/core/pattern-library/headers';

.flex-structure-container > div.content-block-divider {
    height: 0;
    overflow: visible;

    width: 100%;
    margin: 0;

    &.align_content_left, &.align_content_right {
        margin: auto;
        width: calc(100% - $normal-margin);
        max-width: var(--max-content-width);
    }

    &.align_content_right, &.align_body_right {
      text-align: right;
    }
    
    &.align_center {
      text-align: center;
    }

    img {
      height: auto;
      width: auto;
    }
}
