@import 'pattern-library/core/pattern-library/headers';

.flex-page.page div.content-block-cards {
    > .content-block-card {
      > .content-block-rich-text {
        flex: 1;
      }

      hr {
        border: none;
        height: 1rem;
        margin: 2rem 5rem;
      }

      &:nth-child(4n+1) hr {
        background-color: os-color(yellow);
      }
      &:nth-child(4n+2) hr {
        background-color: os-color(light-blue);
      }
      &:nth-child(4n+3) hr {
        background-color: os-color(orange);
      }
      &:nth-child(4n+4) hr {
        background-color: os-color(green);
      }
    }

    &.has-custom-divider > .content-block-card hr {
      background-color: var(--card-divider);
    }
}
