@import 'pattern-library/core/pattern-library/headers';

.flex-page.page {
  display: flex;
  flex-flow: column nowrap;

  @include wider-than($media-content-max) {
    --max-content-width: #{$content-max};
  }
  
  @import 'pattern-library/core/pattern-library/elements/typography';
}
